<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXVncxCKD9g2UtI2OEBD3HY6zm-SmZj0U</string>
	<key>GCM_SENDER_ID</key>
	<string>532850332803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.forgeSeniorProjectVersion</string>
	<key>PROJECT_ID</key>
	<string>forge-by-alpfit</string>
	<key>STORAGE_BUCKET</key>
	<string>forge-by-alpfit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532850332803:ios:24a1529a55f66e4ded37b6</string>
</dict>
</plist>